[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"

[dev-packages]
tensorflow-stubs = {editable = true, path = "."}
pylint = "*"
flake8 = "*"
flake8-pyi = "*"
pytest = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
