[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"flake8" = "*"
"flake8-pyi" = "*"
pytest = "*"
mypy = "*"
"autopep8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
