[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"

[dev-packages]
tensorflow-stubs = {editable = true, path = "."}
autopep8 = ">=1.3.5"
flake8 = ">=3.5.0"
flake8-pyi = ">=18.3.1"
mypy = ">=0.620"
pylint = ">=2.1.0"
pytest = ">=3.7.0"


[requires]
python_version = "3.6"
